@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>How Caffeine Is Tracked</h3>
<p>While most of my caffeine intake is coffee, that does not account for all of it. The Coffee Equivalency Unit (CEU) is a fictional unit 
    that allows me to work from a singlular identifiable unit. A CEU is roughly equal to 50mg of caffeine, or one shot of espresso / small cup of coffee / half a soda. </p>


